@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

body {
  font-family: "Lato", sans-serif;
  background-color: rgb(66, 66, 66);
}

main {
  position: relative;
  min-height: 80vh;
  background-color: rgb(66, 66, 66);
}

footer {
  min-height: 80px;
  background-color: rgb(66, 66, 66);
  display:none;
}

.hero {
  position: relative;
  height: 300px;
  background-color: rgb(66, 66, 66);
}

.contenido-info{
  background-color: rgb(66, 66, 66);
}

canvas {
}

.player {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 80px;
  background-color: blue;
  z-index: 20;
  visibility: hidden;
}

@keyframes aparecer {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes desaparecer {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
