* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  background-color: rgb(255, 255, 255);
}

.crear-btn {
  text-align: right;
  margin: 20px 30px;
}

.crear-btn span {
  background-color: rgb(21, 78, 193);
  box-shadow: rgba(122, 208, 245, 0.15) 0px 1px 3px 0px inset;
  padding: 6px 15px;
  border-radius: 12px;
  color: #f1ecec;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
}

.crear-btn span:hover {
  background-color: #3c8f27;
}
