.perfilC{
    background-color: #eeeeee;
    display: flex;
    padding: 2% 2% 8%;
}

.perfilC>div:first-child{
    width:30%;
}
.perfilC>div:nth-child(2){
    width:70%;
}

.perfil-img{
    padding: 3% 0%;
    text-align: center;
}

.perfil-img img{
    max-height: 30vh;
    max-width: 80%;
    border-radius: 14px;
}

.perfil-info{
    display: flex;
    flex-wrap: wrap;
    padding: 2% 0%;
    overflow: scroll;
}

.perfil-info>div{
    width:100%;
}

.perfil-detalles h2{
    color:rgb(111, 111, 111);
    font-size: 2rem;
}

.perfil-detalles p{
    color:rgb(81, 81, 81);
    margin-top: 2%;
    font-size: 1rem;
}

.perfil-grabaciones{
    border:1px solid rgb(216, 216, 216);
    border-radius: 12px;
    overflow: scroll;
    color:#fafafa;
    margin-top: 3%;
    height: auto;
    max-height: 33vh;
}

.perfil-grabaciones>div{
    cursor:pointer;
    padding: 2%;
}

.perfil-grabaciones>div:nth-child(odd){
    background-color: rgb(92, 92, 92);
    
}

.perfil-grabaciones>div:nth-child(even){
    background-color: rgb(108, 108, 108);
}