.entrada-div-texto {
    color: rgb(229, 229, 229);
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: aparecer 1s ease-in-out 1s forwards;
}

.entrada-div-texto img {
    width: 30px;
    filter: invert();
    margin-right: 10px;
    transform: translateY(-1px);
}


.pagina-principal-planes{
    display: flex;;
    justify-content: space-evenly;
    color:#5e5e5e;
    padding: 4% 1%;
    background-color: #fafafa;
}

.pagina-principal-planes div{
    width:30%;
    text-align: center;;
}

.pagina-principal-planes div img{
    max-height: 300px;
    border-radius: 12px;
}