.categorias {
}

.categorias-general {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.categorias-caja {
  width: 21%;
  border: 1px solid green;
  text-align: center;
  height: 140px;
  margin: 2%;
  cursor: pointer;
}

.categorias-caja:hover {
  border: 1px solid rgb(255, 113, 139);
}
