.grabaciones-fila{
    display: flex;
    border-bottom: 1px solid #9f9f9f;
    color: #6b6b6b;
    cursor: pointer;
}

.grabaciones-fila:hover{
    background-color: rgb(167, 188, 215) !important;
    color: #fff;
}

.grabaciones-fila:nth-child(even){
    background-color: rgb(237, 239, 244);
}

.grabaciones-fila:nth-child(1){
    border-top: 1px solid #9f9f9f;
    color:rgb(96, 96, 96);
    font-weight: bold;
    cursor:default !important;
}

.grabaciones-fila:nth-child(1):hover{
    background-color:#fff !important;
}

.grabaciones-fila p{
    padding: 1%;
    overflow: hidden;
}
