header{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1%;
    background-color: rgb(253, 253, 253);
    border-bottom: 1px solid rgb(234, 234, 234);
}

.menu{
    padding: 4px 11px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.3rem;
    margin: 0 12px;
    color: rgb(125, 125, 125);
}

.activo, .menu:hover{
    color: rgb(80, 80, 80);
    font-weight: bold;
}

.salir{
    position: absolute;
    right: 0px;
    top:0px;
    height: 100%;
    padding: 0 20px;
    color:rgb(141, 194, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.salir span{
    background-color: rgb(246, 246, 246);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px inset;
    padding: 6px 15px;
    border-radius: 12px;
    color: #184b67;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0px 10px;
}

.salir span:hover{
    background-color: #184b67;
    color:#eaeaea;
}

.salir:hover{
    color: aliceblue;
}
