header{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1%;
    background-color: #666;
}

.menu{
    background-color: rgb(191, 191, 191);
    padding: 4px 11px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.3rem;
    margin: 0 12px;
    color: #858585;
}

.activo, .menu:hover{
    background-color: rgb(255, 255, 255);
    color: #666;
}

.salir{
    position: absolute;
    right: 0px;
    top:0px;
    height: 100%;
    padding: 0 20px;
    color:rgb(141, 194, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.salir span{
    background-color: #eaeaea;
    padding: 6px 15px;
    border-radius: 12px;
    color: #184b67;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0px 10px;
}

.salir span:hover{
    background-color: #184b67;
    color:#eaeaea;
}

.salir:hover{
    color: aliceblue;
}
