.musicos {
}

.musicos-general {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.musicos-caja {
  width: 23%;
  text-align: center;
  height: 180px;
  margin: 1%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  transition: 0.5s;
}

.musicos-caja:hover {
  filter: blur(1px) saturate(5) sepia(90%);
}

.musicos-caja h1{
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  bottom: 0px;
  background-color: rgba(27, 27, 27, 0.6);
  padding: 12px;
  color: aliceblue;
}

.musicos-caja img{
  position: absolute;
  left: 0;
  top:0;
  width:100%;
  z-index: 1;
}

