.grabaciones-caja {
  padding: 2% 4%;
  animation: aparecer 0.7s;
}

.grabaciones-caja > h1 {
  font-size: 28px;
  color: #5c5c5c;
}

.grabaciones-caja > div {
  margin-top: 20px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.grabaciones-caja > div > div {
  width: 260px;
  height: 220px;
  background-color: rgb(249, 249, 249);
  padding: 10px;
  margin: 20px 14px;
  border-radius: 12px;
  color: #616161;
  text-align: center;
  display: flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
}

.grabaciones-caja > div > div div {
  width: 100%;
}

.grabaciones-caja > div > div img {
  padding: 12px;
  background-color: rgb(53, 66, 98);
  border-radius: 20%;
  transition: 0.7s;
  width: 20%;
}

.grabaciones-caja > div > div img:hover {

}

.grabaciones-caja > div > div h2 {
  font-size: 18px;
  transition: 0.7s;
}

.grabaciones-caja > div > div h2:hover {
  color: #e36565 !important;
}

.grabaciones-caja > div > div p {
 
}